@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}
@media (max-width: 768px) {
  .h-screen {
    height: auto !important;
    min-height: calc(var(--vh) * 100);
  }
}
